In [35]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pdblp #don't need that once spreadsheets exist

def bbload(ticker): #don't need that when spreadsheets exist
 
    con = pdblp.BCon(debug=False, port=8194, timeout=9000)
    con.start()
    a=con.bdh(ticker, ['PX_LAST','HIGH','LOW','OPEN'],  '20000101', '20200701' )
   
    return a

In [70]:
assets = ['CO1 COMDTY','CO2 COMDTY','TY1 COMB Comdty','SPX INDEX','CCMP INDEX','XAU CURNCY','NG1 COMDTY','NG2 COMDTY','HG1 COMB COMDTY','HG2 COMB COMDTY','EURUSD CURNCY','GBPUSD CURNCY','JPYUSD CURNCY']
names=['co1','co2','ty1','sp500','nasdaq','gold','ng1','ng2','copper1','copper2','eur','gbp','jpy']
mypath = "C:/Users/pandurand/Documents/Algo_Trading/Portfolio_optimization/"
i=0
Prices={}
for asset in assets:
    print(asset)
    d=bbload(asset) #comment that one when spreadsheets exist
    d.to_csv(mypath+asset+".xlsx") #comment that one when spreadsheets exist 
    name=names[i]
    df=pd.read_csv(mypath+asset+".xlsx",index_col='ticker')
    df=df.drop(['field','date'])
    df.columns=['close','high','low','open']
    df.index.name='date'
    Prices[name]=df
    i+=1

CO1 COMDTY
CO2 COMDTY
TY1 COMB Comdty
SPX INDEX
CCMP INDEX
XAU CURNCY
NG1 COMDTY
NG2 COMDTY
HG1 COMB COMDTY
HG2 COMB COMDTY
EURUSD CURNCY
GBPUSD CURNCY
JPYUSD CURNCY

In [72]:
Prices['co1']

            close   high    low   open
date
2000-01-04  24.39   24.7  23.89   23.9
2000-01-05  23.73  24.37   23.7  24.25
2000-01-06  23.62  24.22  23.35  23.55
2000-01-07  23.09  23.98  23.05  23.57
2000-01-10  23.73  23.78  23.04  23.04
...           ...    ...    ...    ...
2020-06-25  41.05  41.64  39.47  40.35
2020-06-26  41.02  41.81  40.29  41.44
2020-06-29  41.71  41.95  40.04  40.56
2020-06-30  41.15  41.62   40.9  41.33
2020-07-01  42.03  42.62  41.03  41.58

[5257 rows x 4 columns]

In [73]:
Prices

{'co1':             close   high    low   open
 date
 2000-01-04  24.39   24.7  23.89   23.9
 2000-01-05  23.73  24.37   23.7  24.25
 2000-01-06  23.62  24.22  23.35  23.55
 2000-01-07  23.09  23.98  23.05  23.57
 2000-01-10  23.73  23.78  23.04  23.04
 ...           ...    ...    ...    ...
 2020-06-25  41.05  41.64  39.47  40.35
 2020-06-26  41.02  41.81  40.29  41.44
 2020-06-29  41.71  41.95  40.04  40.56
 2020-06-30  41.15  41.62   40.9  41.33
 2020-07-01  42.03  42.62  41.03  41.58

 [5257 rows x 4 columns],
 'co2':             close   high    low   open
 date
 2000-01-04  23.69   23.9  23.15  23.15
 2000-01-05  23.22  23.62  23.18   23.5
 2000-01-06  23.07  23.63   22.9   23.0
 2000-01-07  22.65  23.33  22.62  23.05
 2000-01-10  23.17   23.2   22.5   22.5
 ...           ...    ...    ...    ...
 2020-06-25  41.12  41.62   39.7   40.5
 2020-06-26  40.93  41.81  40.28  41.41
 2020-06-29  41.85   42.0  40.01   40.5
 2020-06-30  41.27  41.98  40.99  41.77
 2020-07-01  42.11  42.66   41.1  41.69

 [5266 rows x 4 columns],
 'ty1':                  close        high         low        open
 date
 2000-01-03   95.078125    95.65625        95.0    95.65625
 2000-01-04     95.5625      95.625    94.71875     95.0625
 2000-01-05      94.875   95.765625   94.828125   95.609375
 2000-01-06   95.203125   95.296875    94.84375      94.875
 2000-01-07   95.578125   95.609375       94.75       95.25
 ...                ...         ...         ...         ...
 2020-06-25   138.90625    139.0625  138.796875     138.875
 2020-06-26   139.21875  139.265625  138.828125   138.84375
 2020-06-29  139.328125  139.421875  139.078125  139.234375
 2020-06-30  139.171875    139.4375   139.09375     139.375
 2020-07-01  138.953125  139.171875  138.796875   139.15625

 [5159 rows x 4 columns],
 'sp500':               close     high      low     open
 date
 2000-01-03  1455.22   1478.0  1438.36  1469.25
 2000-01-04  1399.42  1455.22  1397.43  1455.22
 2000-01-05  1402.11  1413.27  1377.68  1399.42
 2000-01-06  1403.45   1411.9  1392.02  1402.11
 2000-01-07  1441.47  1441.47  1400.73  1403.45
 ...             ...      ...      ...      ...
 2020-06-25  3083.76  3086.25  3024.01   3046.6
 2020-06-26  3009.05  3073.73  3004.63   3073.2
 2020-06-29  3053.24  3053.89  2999.74  3018.59
 2020-06-30  3100.29  3111.51  3047.83   3050.2
 2020-07-01  3115.86  3128.44  3101.17  3105.92

 [5157 rows x 4 columns],
 'nasdaq':                close      high       low      open
 date
 2000-01-03   4131.15   4192.19   3989.71   4186.19
 2000-01-04   3901.69   4073.25   3898.23    4020.0
 2000-01-05   3877.54   3924.21   3734.87   3854.35
 2000-01-06   3727.13   3868.76   3715.62   3834.44
 2000-01-07   3882.62   3882.67   3711.09   3711.09
 ...              ...       ...       ...       ...
 2020-06-25   10017.0  10023.28  9810.469  9899.359
 2020-06-26  9757.219  10000.67  9749.065  9995.124
 2020-06-29  9874.153  9877.343  9663.608   9771.72
 2020-06-30  10058.77  10085.59  9863.668  9875.285
 2020-07-01  10154.63  10197.19  10048.04  10063.67

 [5157 rows x 4 columns],
 'gold':               close     high      low     open
 date
 2000-01-03    289.0    289.5   288.13    288.5
 2000-01-04   282.25   288.38    279.8   288.38
 2000-01-05    280.0    283.5   279.75   282.15
 2000-01-06    281.1   282.05   279.15    280.5
 2000-01-07   281.75    283.3   280.95   281.45
 ...             ...      ...      ...      ...
 2020-06-25  1763.79  1768.88  1755.51  1761.17
 2020-06-26  1771.29  1772.14  1747.62  1763.78
 2020-06-29  1772.82  1775.17  1765.84  1775.11
 2020-06-30  1780.96  1786.16   1764.7  1772.82
 2020-07-01  1770.09  1789.28  1759.36  1780.96

 [5342 rows x 4 columns],
 'ng1':             close                high    low   open
 date
 2000-01-04  2.176                 2.2   2.13   2.18
 2000-01-05  2.168                 2.2  2.125   2.18
 2000-01-06  2.196                2.22  2.135  2.165
 2000-01-07  2.173                2.23  2.155  2.195
 2000-01-10  2.216               2.255  2.165   2.18
 ...           ...                 ...    ...    ...
 2020-06-25  1.482  1.5979999999999999   1.44  1.595
 2020-06-26  1.495               1.567  1.432  1.441
 2020-06-29  1.709  1.7530000000000001  1.558  1.567
 2020-06-30  1.751               1.784  1.688  1.697
 2020-07-01  1.671               1.758  1.655  1.754

 [5149 rows x 4 columns],
 'ng2':                          close   high                 low   open
 date
 2000-01-04               2.204  2.225                2.14   2.14
 2000-01-05               2.201  2.225                2.16  2.205
 2000-01-06               2.237   2.25                2.17   2.18
 2000-01-07               2.221   2.26                2.19   2.23
 2000-01-10               2.253   2.29                2.21  2.215
 ...                        ...    ...                 ...    ...
 2020-06-25               1.546  1.661               1.517  1.661
 2020-06-26               1.544  1.569               1.517  1.526
 2020-06-29               1.754  1.799               1.616  1.621
 2020-06-30  1.7890000000000001  1.831  1.7389999999999999  1.742
 2020-07-01               1.721  1.792                 1.7  1.792

 [5149 rows x 4 columns],
 'copper1':              close    high     low    open
 date
 2000-01-04    84.8    86.2    84.5   86.15
 2000-01-05   85.65    85.9    83.8    84.5
 2000-01-06    85.3   85.65    84.8    85.6
 2000-01-07    85.4   86.25   84.95    85.3
 2000-01-10   84.65   85.45    84.0    85.3
 ...            ...     ...     ...     ...
 2020-06-25   266.3   266.9  262.85   264.5
 2020-06-26   265.9   269.9  265.05  266.55
 2020-06-29  267.95  268.75  265.05  265.05
 2020-06-30  271.35   272.1   268.4   269.0
 2020-07-01   271.7  273.75  269.75   271.6

 [5151 rows x 4 columns],
 'copper2':              close    high     low    open
 date
 2000-01-04    85.5    86.4    85.4    86.1
 2000-01-05    86.3   86.45   84.85   85.25
 2000-01-06   85.95    86.1    85.6   85.65
 2000-01-07    86.1    86.8    85.9    85.9
 2000-01-10   85.45    86.1    85.0    85.8
 ...            ...     ...     ...     ...
 2020-06-25   267.8   268.4   263.9  265.65
 2020-06-26   267.9  271.45  267.05   267.9
 2020-06-29  269.25  270.55   266.8   267.0
 2020-06-30  272.85   273.7  269.55   269.8
 2020-07-01   273.4  275.85  270.65  273.05

 [5151 rows x 4 columns],
 'eur':              close    high     low    open
 date
 2000-01-03  1.0243  1.0285  1.0052  1.0073
 2000-01-04  1.0296  1.0341  1.0217  1.0244
 2000-01-05  1.0321  1.0403  1.0285    1.03
 2000-01-06  1.0328  1.0414   1.028  1.0325
 2000-01-07  1.0295  1.0334  1.0255  1.0329
 ...            ...     ...     ...     ...
 2020-06-25  1.1218   1.126  1.1191  1.1251
 2020-06-26  1.1219  1.1239  1.1195  1.1218
 2020-06-29  1.1242  1.1288  1.1217  1.1223
 2020-06-30  1.1234  1.1262  1.1191  1.1242
 2020-07-01  1.1251  1.1275  1.1185  1.1234

 [5348 rows x 4 columns],
 'gbp':                          close                high                 low  \
 date
 2000-01-03              1.6362              1.6396              1.6145
 2000-01-04  1.6360000000000001              1.6413  1.6316000000000002
 2000-01-05  1.6425999999999998              1.6451              1.6352
 2000-01-06              1.6474              1.6509              1.6412
 2000-01-07              1.6393              1.6498  1.6360999999999999
 ...                        ...                 ...                 ...
 2020-06-25              1.2419              1.2464  1.2389000000000001
 2020-06-26              1.2336              1.2437              1.2315
 2020-06-29              1.2298  1.2389999999999999              1.2252
 2020-06-30              1.2401              1.2402              1.2258
 2020-07-01              1.2475               1.249               1.236

                           open
 date
 2000-01-03              1.6147
 2000-01-04  1.6358000000000001
 2000-01-05              1.6373
 2000-01-06  1.6419000000000001
 2000-01-07              1.6477
 ...                        ...
 2020-06-25              1.2419
 2020-06-26              1.2419
 2020-06-29              1.2343
 2020-06-30              1.2298
 2020-07-01              1.2401

 [5348 rows x 4 columns],
 'jpy':                close      high       low      open
 date
 2000-01-03  0.009857  0.009861  0.009745  0.009791
 2000-01-04  0.009685  0.009857  0.009681  0.009835
 2000-01-05  0.009604  0.009725   0.00958  0.009699
 2000-01-06  0.009503  0.009617  0.009472  0.009601
 2000-01-07  0.009493   0.00953  0.009443  0.009503
 ...              ...       ...       ...       ...
 2020-06-25  0.009329  0.009347  0.009308  0.009343
 2020-06-26  0.009327  0.009363  0.009315  0.009329
 2020-06-29  0.009296  0.009341   0.00927  0.009331
 2020-06-30  0.009265    0.0093  0.009261  0.009296
 2020-07-01  0.009305  0.009314  0.009246  0.009265

 [5348 rows x 4 columns]}